name: License Check

on: pull_request

jobs:
  license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: License Eye Header
        uses: apache/skywalking-eyes@v0.8.0
